$color-primary: #baba55;
$color-primary-highlight: lighten($color-primary, 15%);
$color-primary-shadow: darken($color-primary, 15%);

$color-white: #fff2d8;
$color-black: #303044;
$color-black-50: rgba($color-black, .5);

$color-text: #636363;

$color-link: $color-primary;
$color-link-hover: $color-primary-shadow;